body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000;
}

.exchangeRates {
  background-color: #2b1811;
  color: #f75404;
  font-weight: 700;

  display: flex;
  gap: 1rem;

  padding: 1rem;
  border-radius: 2rem;
}

.currencySign {
  /* color: #ffb780; */
  color: #ff9a57;
  margin-right: 0.3rem;
}
