body {
    font-family: 'El Messiri', sans-serif;
    background-color: teal;
    color: #464451; /* антрацитовый цвет */
    font-size: 34px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.timer {
	margin-bottom: 20px;
}

/* Секундомер */

.counter {
    display: flex;
    justify-content: center;
    align-items: center; 
	font-size: 80px;
    padding-top: 10px;
	border: 1px solid #464451;
	color: #e2fcfb; /* цвет glacier blue */
    height: 130px;
	width: 230px;
	margin-bottom: 20px;
    border-radius: 80px;
    margin-right: auto;
    margin-left: auto;
}

button {
    color: #464451;
    background-color:#e2fcfb;
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    border-radius: 25px;
    outline: none;
    border-color:cadetblue;
    cursor: pointer;
    transition: background-color 300ms ease-in;
    padding: 0 10px;
}

button:hover {
    background-color:lightseagreen;
}

button:disabled {
    opacity: 0.4;
    background-color: azure;
}

footer {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

@keyframes pulse {
    0% {transform: scale(1);}
    33% {transform: scale(1.05);}
    66% {transform: scale(0.95);}
    100% {transform: scale(1);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 0.8s;
}